@model Diploma_Curator_Subsystem.Models.Task

@{
    ViewData["Title"] = "Редактирование";
}

<h2>Редактирование</h2>

<h4>Задача</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alternatives" class="control-label">Альтернативы</label>
                <input asp-for="Alternatives" class="form-control" />
                <span asp-validation-for="Alternatives" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Math_data" class="control-label">Математические данные</label>
                <input asp-for="Math_data" class="form-control" />
                <span asp-validation-for="Math_data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label">Дата создания</label>
                <input asp-for="CreatedAt" class="form-control" disabled/>
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label">Дата окончания</label>
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Статус</label>
                <select asp-for="StatusID" class="form-control" asp-items="ViewBag.StatusID"></select>
                <span asp-validation-for="StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domain" class="control-label">Предметная область</label>
                <select asp-for="DomainID" class="form-control" asp-items="ViewBag.DomainID"></select>
                <span asp-validation-for="DomainID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
