@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Подсистема поддержки работы куратора экспертного сообщества</h2>
        <h3>Приложение написано с использованием ASP.NET Core</h3>
    </div>
    <div class="col-md-12 text-left">
        <p>ASP.NET Core является кроссплатформенной, высокопроизводительной средой с открытым исходным кодом для создания современных облачных приложений, подключенных к Интернету.</p>
        <h3>Функционал</h3>
        <ul>
            <li>Для того, чтобы просмотреть основную информацию о всех экспертах, выберете <a href="Users/Index">эксперты</a>.</li>
            <li>Для того, чтобы просмотреть основную информацию о всех задачах со статусом "Ожидает подбора группы от КЭС", выберете <a href="Tasks/Index">задачи</a>.</li>
            <li>Для того, чтобы просмотреть основную информацию о всех запросах, выберете <a href="Queries/Index">запросы</a>.</li>
        </ul>
        <a href="Home/Contact">Контакты</a>
    </div>
</div>
